{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "ignore": [
    "**/node_modules/**",
    "**/dist/**",
    "**/dist-electron/**",
    "**/cypress/**",
    "**/tests/**",
    "**/android/**",
    "**/ios/**",
    "**/release/**"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-react-jsx-source"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
