# Lock files
*-lock.json
**/*.lockb

# IDEs
.idea/**/*
.vscode/**/*

# Project files
.github/**/*
buildAssets/icons/**/*
dist/
src/index.html
release/
android/
**/.git
**/.svn
**/.hg
**/node_modules
ios/
cypress/
tests/
