@font-face {
  font-family: 'Fira Code';
  src: url('@/assets/fonts/FiraCode/FiraCode-Light.eot');
  src:
    local('Fira Code Light'),
    local('FiraCode-Light'),
    url('@/assets/fonts/FiraCode/FiraCode-VariableFont_wght.ttf') format('wght'); //source one
}
