// Primary colors
$primary1: #01080e; //
$primary1-hovered: #263b50; //
$primary2: #011627; //
$primary3: #011221; //

// Secondary colors
$secondary1: #607b96; //
$secondary2: #3c9d93; //
$secondary3: #4d5bce; //
$secondary4: #fff;

// Accent colors
$accent1: #fea55f; //
$accent2: #43d9ad; //
$accent3: #e99287; //
$accent4: #c98bdf; //
$accent5: #ffd714;
// --------------------------------------------

// buttons colors
$btn1-bg: $accent1; //
$btn1-clr: $primary1; //

$btn2-bg: #1c2b3a; //
$btn2-clr: $secondary4; //

$btn3-bg: transparent; //
$btn3-clr: $secondary4; //

// --------------------------------------------

$lines: #1e2d3d; //
$gradients1: #4d5bce; //
$gradients2: #43d9ad; //
$code-snippets-bg: #001221;

// --------------------------------------------

$headline-size: 62px; //
$sub-headline-size: 32px; //
$body-text-size: 18px; //
$labels-size: 16px; //
$code-snippets-size: 14px; //
$main-font: 'Fira Code', monospace;

// --------------------------------------------
